<span jwcid="$content$">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="100%">
				<input type="checkbox" jwcid="svnCommit@Checkbox" value="ognl:svnCommit" />
				<span jwcid="@WindowQueryDialog" queryPageName ="ognl:queryPageName" autoReSize="ognl:autoReSize" eventHeaderId="ognl:eventHeaderId" windowShowButtonText="ognl:windowShowButtonText"></span>
                <input type="Hidden" jwcid="svnAuthor@Hidden" value="ognl:svnAuthorValue" />
                <input type="Hidden" jwcid="svnLog@Hidden" value="ognl:svnLog" />
			</td>
		</tr>
	</table>
</span>