<div id="${this.widgetId}" class="queryDialog" dojoattachpoint="wrapper" >
	<div><image src="${dojoRoot}../corner/widget/templates/dic.gif" value="Query" dojoattachpoint="queryButtonNode" dojoAttachEvent="onClick: buttonClick"/></div>
	<div dojoattachpoint="dlgDiv" style="display:none;width:95%" class="${this.contentClass}">
		<div class="btnDiv"><input type="button" value="close" dojoattachpoint="hideBtn" dojoAttachEvent="onClick: hideDlg" class="${this.buttonClass}"/></div>
		<div class="titleDiv"><span dojoattachpoint="titleNode"></span></div>
	</div>
</div>
