#parent {
	width: 650px;
}
div.treenode {
	clear: left;
	padding-left: 16px;
	cursor:pointer;
}
span.mark {
	float: left;
	margin: 0px 10px 0px 3px;
	padding: 0px;
	text-align: center;
	width: 30px;
    
}
.expanded {background:url(opened.gif) no-repeat 0 1px;}
.collapsed {background:url(closed.gif) no-repeat 0 1px;}
.leaf {background:url(child.gif) no-repeat 13px 2px;}
span.treedata {
	background-color: blue;
    border:1px;
}
dl {
	margin: 0px;
}
dt {
	
	float: left;
	width: 300px;
}
dd {
	
	text-align: right;
}