.nodeSelected {
	border-collapse: collapse;
	padding: 5px;
	border: solid #808080 3px;
	background-color:#E6E6E6;
	font-family:arial;
	font-size:10pt;
} 

.cornerSelected {
	border-collapse: collapse;
	padding: 5px;
	border: solid #404040 3px;
	background-color:#E6E6E6;
	font-family:arial;
	font-size:10pt;
}
.nodeNormal {
	border-collapse: collapse;
	padding: 5px;
	border: solid #808080 1px;
	background-color:#F6F6F6;
	font-family:arial;
	font-size:10pt;
}

.title {
font-family:arial;
font-size:12px;
font-weight:bold;
}

.descr {
font-family:arial;
font-size:11px;
color:000000;
}