.alertDialog {
    width: 50%;
    border: 2px solid #ff660a;
    padding: 1em;
    padding-bottom: 1.7em;
    background: #ffffff;
}

.alertDialog .dojoButton {
    float: right;
}
.fieldMissing {
    background: #bedef4;
}

.fieldInvalid {
    background: #ffaf7e;
    font-weight: bold;
}

.missingList, .invalidList {
    padding: 0.6em;
    padding-top: 0.2em;
    width:100%;
    display:block;
}

.missingList {
    border-top: 4px solid #bedef4;
}

.invalidList {
    border-top: 4px solid #ffaf7e;
}

.missingList li, .invalidList li {
    list-style:none;
    font-style:italic;
}
