@import url("coolestCalendar/aqua/theme.css");
/** 自动完成 **/
@import url("autocompleter.css");

@import url("windowThemes/default.css");
@import url("windowThemes/alphacube.css");

@import url("svn.css");
@import url("tree/default.css");

@import url("ajaxio.css");
@import url("preview.css");
.alertButton {
	width: auto;
	border: none;
	background-color: #699ED9;
	color: #fff;
	padding: 0.1em;
	border-bottom: 1px solid #5885b6 !important;
	border-right: 1px solid #5885b6 !important;
	border-top: 1px solid #92b8e2 !important;
	border-left: 1px solid #92b8e2 !important;
	cursor: hand;
	cursor: pointer;
}

.alertDialog {
    width: 30em;
    border: 2px solid #ff660a;
    padding: 1em;
    background: #ffffff;
    -moz-border-radius: 10px;
}

.alertContent .alertButton {
    float:right;
    position:relative;
    bottom:1em;
}

.fieldMissing {
    background: #bedef4;
}

.fieldInvalid {
    background: #ffaf7e;
    font-weight: bold;
}

.missingList, .invalidList {
    padding-bottom: 0.6em;
    padding-top: 0.2em;
    padding-left:0.1em;
    padding-right:0.2em;
    margin: 0;
}

.missingList {
    width: 24em;
    border-top: 4px solid #bedef4;
}

.invalidList {
    width: 24em;
    border-top: 4px solid #ffaf7e;
}

.missingList li, .invalidList li {
    list-style:none;
    font-style:italic;
}