<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.cglib.use_reflection_optimizer">true</property>
        <property name="default-lazy">true</property>
        <property name="hibernate.show_sql">true</property>
		<event type="save-update">
			<listener class="corner.service.svn.VersionSaveUpdateEventListener"/>
		</event>
		<event type="post-delete">
			<listener class="corner.service.svn.VersionDeleteEventListener"/>
		</event>
    </session-factory>
</hibernate-configuration>