<span jwcid="$content$">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td>
    	<span class="diff">
        	<span id="legend">
        		<dl><dd><span jwcid="@Any" id="ver_showInfo"></span></dd></dl>
                <dt class="add"></dt><dd>Add</dd>
                <dt class="mod"></dt><dd>Edit</dd>
                <dt class="cp"></dt><dd>Delete</dd>
        	</span>
        </span>
        <span jwcid="@If" renderTag="ognl:false" condition="ognl:showButton">
    	<input class="svnbutton" type="button" id="showside" onClick="VersionInserts.resetTips();" jwcid="@Any" value="ognl:showside"/>
        	&nbsp;&nbsp;
        <input class="svnbutton" type="button" id="showLine" onClick="VersionInserts.closeTips();" jwcid="@Any" value="ognl:showLine"/>
        </span>
    </td>
  </tr>
</table>
<input type="hidden" id="ver_hid"/>
<input type="hidden" id="otherVer_hid"/>
</span>